{% extends 'bootstrap_4_horizontal_layout.html.twig' %}

{% block form_label_class -%}
form-col
{%- endblock form_label_class %}

{% block form_widget_simple %}
<div class="form-col">
        {{ parent() }}
</div>
{% endblock %}