<h1>Wedstrijden van {{ naam }} zijn gepland</h1>

<p>Uw wedstrijden voor toernooi: "{{ toernooi_naam }}" zijn gepland!</p>
<p>Ga naar <a href="{{ url('mijn_wedstrijden_met_id', {'toernooi_id' : toernooi_id}) }}">Mijn wedstrijden</a>
om uw wedstrijden te bekijken.</p>

Vragen en verzoeken over de planning: stef.steeman@gmail.com, 06-83904747

