<h1>Wedstrijd wijziging voor {{ naam }}</h1>

<p>{{ afzender }} heeft een wedstrijdwijziging ingediend voor toernooi: "{{ toernooi_naam }}"!</p>
<p>Ga zo snel mogelijk naar <a href="{{ url('toon_bericht', {'bericht_id' : bericht_id}) }}">het wijzigingsbericht</a>
om de wijziging te bekijken en er op te reageren.</p>
